*.DS_Store

Phidget1018/Phidget1018.xcodeproj/xcuserdata
Phidget1018/Phidget1018.xcodeproj/project.xcworkspace/xcuserdata

HLPong/HLPong.xcodeproj/xcuserdata
HLPong/HLPong.xcodeproj/project.xcworkspace/xcuserdata

HLPrimes/HLPrimes.xcodeproj/xcuserdata
HLPrimes/HLPrimes.xcodeproj/project.xcworkspace/xcuserdata

Sudoku\ Solver/Sudoku\ Solver.xcodeproj/xcuserdata
Sudoku\ Solver/Sudoku\ Solver.xcodeproj/project.xcworkspace/xcuserdata
