*.DS_Store

Crypto/RSATool/RSATool.xcodeproj/xcuserdata
Crypto/RSATool/RSATool.xcodeproj/project.xcworkspace/xcuserdata

Crypto/PrimeFinder/PrimeFinder.xcodeproj/xcuserdata
Crypto/PrimeFinder/PrimeFinder.xcodeproj/project.xcworkspace/xcuserdata

Crypto/PrimeToolCPP/PrimeTool.xcodeproj/xcuserdata
Crypto/PrimeToolCPP/PrimeTool.xcodeproj/project.xcworkspace/xcuserdata

Phidget1018/Phidget1018.xcodeproj/xcuserdata
Phidget1018/Phidget1018.xcodeproj/project.xcworkspace/xcuserdata

HLPong/HLPong.xcodeproj/xcuserdata
HLPong/HLPong.xcodeproj/project.xcworkspace/xcuserdata

Sudoku\ Solver/Sudoku\ Solver.xcodeproj/xcuserdata
Sudoku\ Solver/Sudoku\ Solver.xcodeproj/project.xcworkspace/xcuserdata

ResourceEater/ResourceEater.xcodeproj/xcuserdata
ResourceEater/ResourceEater.xcodeproj/project.xcworkspace/xcuserdata
